*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    font-family: 'Inter', sans-serif;
    // font-feature-settings: 'tnum' on, 'lnum' on, 'liga' off;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
